configuration {
		theme: "~/.cache/wal/colors-rofi-light.rasi";
		modi: "window,drun";
		separator-style: "none";
		hide-scrollbar:	true;
		font: "IBMPlexMono 18";
		display-run: ">";
		display-drun: ">";
		display-combi: "";
		width: 40;
}

/* vim:ft=css
